<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<link rel="stylesheet" href="/stylesheets/index.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">



<main>
  <h1 class="neonText" id="h1">Welcome <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
      src="<%= user.profile.avatar %>" 
      alt="<%= user.profile.name %> avatar"
      >
    </div>
    <% } %>
    <h2 class="neonText" id="h2">This website is design to log people's travels to help them to discover beautiful destinations. This website allows people to find places based on locations, cost, and if it’s worth the trip. Users will be able to add reviews and read other's opinions. 
    </h2>
  </main>
  <img src="https://media0.giphy.com/media/9GhVS2ZVaI1Yk/giphy.gif" class="gif">
  

<%- include('./partials/footer') %>
