<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<div class="container">
    <h1>Edit review</h1>
    <label>
    <form action="/travels <%=review._id %>
      /reviews/<%=review._id%>?_method=PUT" method="POST">

    <input type="text" placeholder="enter text" name="review"
    value="<%= review.name%>"
    autocomplete="off"
    >
  </label>


      <button class="btn-outline-danger">sumbit changes</button>
    </form>
</div>
<%- include('../partials/footer') %>
