<%- include('../partials/html-head') %> <%- include('../partials/nav') %>
<link rel="stylesheet" href="stylesheets/index2.css">

<section>
  <h1 class="neonText">Travels</h1>
  <h2></h2>
  <div class="row">
    <% travels.forEach(travel => { %>
    <div class="col-lg-4 col-md-6 mb-5">
      <div class="card">
        <h5 class="card-header"><%= travel.title %></h5>

        <ul class="list-group">
          <li class="list-group-item" >Rating:<%= travel.rating %></li>
          <li class="list-group-item">Location:<%= travel.location %></li>
          <li class="list-group-item">Cost:<%= travel.cost %></li>
        </ul>
        <div class="blockquote">Created by <%= travel.author.name %></div>
        <a href="/travels/<%= travel._id %>" class="btn btn-outline-secondary"
          >View More</a
        >
      </div>
    </div>
    <% }) %>
  </div>
</section>

<%- include('../partials/footer') %>
